@model ViewModels.FullModel

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div>
    @using (Html.BeginForm("Search", "Home", FormMethod.Post))
    {
        <nav>
            <div class="nav-wrapper green">
                <form id="searchForm">
                    <div class="input-field">
                        @Html.TextBoxFor(x => x.searchString, new { @type = "search", @id = "search" });
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </nav>
    }
</div>

@if (Model != null && Model.Lista != null)
{
    if (Model.Lista.Count == 0)
    {
        <div class="card">
            <div class="card-content">
                <div class="card-title center-align">No se encontraron elementos</div>
            </div>
        </div>
    }
}

@if (Model != null && Model.Lista != null)
{
    if (Model.Lista.Count > 0)
    {
        <div class="card">
            <div class="card-content">
                <div class="card-title"><i class="fa fa-calendar-o fa-fw"></i>Eventos</div>
                @foreach (var item in Model.Lista.Where(z => z.EncontradoEn == "Evento"))
                {
                    <div class="card grey hoverable">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s10">
                                    @item.NombreEvento
                                </div>
                                <div class="col s2 right-align">
                                    <button class="btn btn-default">
                                        <a href="~/Events/Details/@item.Id">
                                            <i class="fa fa-search fa-fw black-text"></i>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}

@if (Model.Lista != null && Model.Lista.Count > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lista.FirstOrDefault().IdUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lista.FirstOrDefault().Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lista.FirstOrDefault().Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lista.FirstOrDefault().NombreEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lista.FirstOrDefault().Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lista.FirstOrDefault().EncontradoEn)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Lista)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreEvento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EncontradoEn)
                </td>
            </tr>
        }

    </table>
}
