@model RepositorioClases.Reportes
@{
    ViewBag.Title = "Reportes";
}

<br />
<br />

<div class="card">
    <div class="card-content">
        <table class="table striped centered">
            <div class="card-title">Eventos reportados</div>
            <thead class="thead-inverse">
                <tr>
                    <th>
                        Evento
                    </th>
                    <th>
                        Reportes
                    </th>

                    <th>Revisar</th>
                </tr>
            </thead>

            @foreach (var item in Model.Eventos.GroupBy(z => z.EventId).OrderByDescending(z => z.Count()))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Key)
                    </td>
                    <td>
                        @item.Count()
                    </td>
                    <td>
                        @Html.ActionLink("Revisar", "Details", "Events", new { id = item.Key }, null)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<div class="card">
    <div class="card-content">
        <table class="table striped centered">
            <div class="card-title">Comentarios reportados</div>
            <thead class="thead-inverse">
                <tr>
                    <th>
                        Comentario
                    </th>
                    <th>
                        Reportes
                    </th>

                    <th>Acción</th>
                </tr>
            </thead>

            @foreach (var item in Model.Comentarios.GroupBy(z => z.CommentId).OrderByDescending(z => z.Count()))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Key)
                    </td>
                    <td>
                        @item.Count()
                    </td>
                    <td>
                        @Html.ActionLink("Revisar", "CommentReported", "Manage", new { id = item.Key }, null)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>