@model ViewModels.CommentsModel



@*<!-- Modal Trigger -->
<a class="waves-effect waves-light btn" href="#modal1">Comentar</a>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Comentario</label>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
    </div>
</div>

<script>
    $(document).ready(function () {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });
</script>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




@using (Html.BeginForm("Create", "Comments", FormMethod.Post, new { id = "commentForm" }))
{

        foreach (var a in Model.CommentsList)
        {
            <div class="row">
                <div class="col s12 m12">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <p>
                                @a.Comentario
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="input-field">
            <i class="material-icons prefix" id="Comentario">label</i>
            @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
            @Html.LabelFor(model => model.Comment)
            @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
        </div>

        @Html.HiddenFor(x => x.IdEvento)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 align-center">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </div>
    
        <div>
            @Html.ActionLink("Back to List", "Index", "Events")
        </div>
}

