@model RepositorioClases.Events

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div class="card #00897b teal darken-1 hoverable">
    @if (Model.RutaImagen != null)
    {
        <div class="card-image">
            <img src="@Html.DisplayFor(modelItem => Model.RutaImagen)">
        </div>
    }
    <div class="card-content white-text">

        <div class="col s12 m12 right-align">
            <span class="card-info card-event-detail-info"><i class="@Html.getIcon(@Html.DisplayFor(modelItem => Model.IdCategoria).ToString())"></i> @Html.DisplayFor(modelItem => Model.IdCategoria) </span>
        </div>

        <span class="card-title text-darken-4">@Html.DisplayFor(modelItem => Model.NombreEvento)</span>
        <p class="card-subtitle text-darken-2">@Html.DisplayFor(modelItem => Model.Descripcion)</p>
        <p class="card-text"><small class="text-muted">Creado por @Html.getNameUser(id: @Html.DisplayFor(modelItem => Model.IdUser).ToString())</small></p>
        <hr />

        <!-- IdUser -->

        <div class="row card-row">
            <div class="col s12 m6">
                @if (Model.FechaFin == Model.FechaInicio)
                {
                    <span class="card-info card-event-detail-info"><i class="fa fa-calendar-times-o"></i> @Html.DisplayFor(modelItem => Model.FechaInicio)</span>
                }
                else
                {
                    <span class="card-info card-event-detail-info"><i class="fa fa-calendar-times-o"></i> @Html.DisplayFor(modelItem => Model.FechaInicio) al @Html.DisplayFor(modelItem => Model.FechaFin)</span>
                }

            </div>
            <div class="col s12 m6 right-align">
                <span class="card-info card-event-detail-info">
                    <i class="fa fa-clock-o"></i> @Html.DisplayFor(modelItem => Model.HoraInicio) - @Html.DisplayFor(modelItem => Model.HoraFin)
                </span>
            </div>
        </div>

        <div class="row card-row">
            <div class="col s12 m6">
                <span class="card-info card-event-detail-info"><i class="fa fa-address-card-o"></i> @Html.DisplayFor(modelItem => Model.Direccion)</span>
            </div>
            <!--<div class="col s12 m6">
                <span class="card-info card-event-detail-info">12.00 €</span>
            </div>-->
        </div>
        <hr />

        <div id="map" style="width:100%;height:300px;"></div>
        <hr />
        <div class="right-align">
            <i class="fa fa-flag-o"></i>
            @Html.ActionLink("Reportar", "ReportarEvento", new { id = Model.Id })
        </div>
    </div>
</div>

@*<!-- Modal Trigger -->
<a class="waves-effect waves-light btn" href="#modal1">Comentar</a>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Comentario</label>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
    </div>
</div>

<script>
    $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });
</script>

@*
    @foreach (var a in Model.Comments)
    {
        <div class="row">
            <div class="col s12 m12">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <p>
                            @a.Comentario
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }*@

<div id="comentariosDiv">
    @Html.Action("GetEventCommets", "Events", new { IdEvento = Model.Id })
</div>


<!--Hay que ver que sea el usuario que lo creo o algún administrador-->
@if (WebSecurity.IsAuthenticated)
{
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large green" href="~/Events/Edit/@Model.Id">
            <i class="large material-icons">mode_edit</i>
        </a>
    </div>
}


@* ------------------------------------------------------------------------------------------------------------ *@




<script>
    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see the error "The Geolocation service
    // failed.", it means you probably did not give permission for the browser to
    // locate you.

    function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat:@Model.lat, lng: @Model.lng },
            zoom: 15
        });

        var infoWindow = new google.maps.InfoWindow({ map: map });


        var myMarker = new google.maps.Marker({
            position: new google.maps.LatLng(@Model.lat, @Model.lng),
            draggable: false
        });


        map.setCenter(myMarker.position);
        myMarker.setMap(map);

        //--------------------------------------------------------------------
        google.maps.event.addListener(myMarker, 'dragend', function (evt) {
            $('#lat').val(evt.latLng.lat().toFixed(3));
            $('#lng').val(evt.latLng.lng().toFixed(3));
        });

        google.maps.event.addListener(myMarker, 'dragstart', function (evt) {
            document.getElementById('lat').innerHTML = 'Currently dragging marker...';
        });

        //-----------------------------------------------------------------------
    }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPHbsGCp8vpDA1vMKAFWsU0Odc8Mz5SAA&callback=initMap" async defer></script>


@* ------------------------------------------------------------------------------------------------------------------------------------------------------ *@


<script>
    $(document).on("submit", "#commentForm", function (e) {
        e.preventDefault();
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            beforeSend: function () {
                $("#commentForm *").prop("disabled", true);
            },
            success: function (result) {
                if (result.includes("loginForm")) {
                    window.location.replace("/Home/Login");
                } else {
                    var reloadDiv = "comentariosDiv"
                    $("#" + reloadDiv).html(result);
                    $('#Comment').val("");
                }
                
            }
        });
    });
</script>
