@model List<RepositorioClases.Events>
@{
    ViewBag.Title = "Eventos";
}

<br />
<br />

<div class="container">
    <div class="row">
        <div class="col s12 cards-container">

            @foreach (var item in Model)
            {
                if (item.Destacado)
                {
                    if (item.RutaImagen != null)
                    {
                        <div class="card blue-grey darken-1">
                            <div class="card-image">
                                <img src="@Html.DisplayFor(modelItem => item.RutaImagen)">
                                <span class="card-title">@Html.DisplayFor(modelItem => item.NombreEvento)</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light red" href="~/Events/Details/@item.Id"><i class="material-icons">more_vert</i></a>
                            </div>
                            <div class="card-content">
                                <p>@Html.DisplayFor(modelItem => item.Descripcion)</p>
                                <div class="chip">
                                    <img src="images/yuna.jpg" alt="Contact Person">
                                    Jane Doe
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">@Html.DisplayFor(modelItem => item.NombreEvento)</span>
                                <p>@Html.DisplayFor(modelItem => item.Descripcion)</p>
                                <div class="chip">
                                    <img src="https://cdn1.iconfinder.com/data/icons/web-essentials-circle-style/48/user-512.png" alt="Contact Person">
                                    Jane Doe
                                </div>
                            </div>
                            <div class="card-action">
                                <a href="~/Events/Details/@item.Id">Ver evento</a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    if (item.RutaImagen != null)
                    {
                        <div class="card">
                            <div class="card-image">
                                <img src="@Html.DisplayFor(modelItem => item.RutaImagen)">
                                <span class="card-title">@Html.DisplayFor(modelItem => item.NombreEvento)</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light red" href="~/Events/Details/@item.Id"><i class="material-icons">more_vert</i></a>
                            </div>
                            <div class="card-content">
                                <p>@Html.DisplayFor(modelItem => item.Descripcion)</p>
                                <div class="chip">
                                    <img src="images/yuna.jpg" alt="Contact Person">
                                    Jane Doe
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="card">
                            <div class="card-content grey-text">
                                <span class="card-title">@Html.DisplayFor(modelItem => item.NombreEvento)</span>
                                <p>@Html.DisplayFor(modelItem => item.Descripcion)</p>
                                <div class="chip">
                                    <img src="images/yuna.jpg" alt="Contact Person">
                                    Jane Doe
                                </div>
                            </div>
                            <div class="card-action">
                                <a href="~/Events/Details/@item.Id">Ver evento</a>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>